body {
  background-color: black;
  background-size: 100%; 
  background-repeat: no-repeat; 
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
  font-size: 200%;
}

#welcome_box {
  position: absolute;
  width: 70%;
  left: 15%;
  top: 5%;
  color: red;
  font-size: 24pt;
  opacity: 1;
}

.difficulty_button_holder {
  position: absolute;
  top: 10%;
  opacity: 1;
}

#show_leaderboard_holder {
  position: absolute;
  opacity: 1;
  top: 74%;
  left: 44.5%;
}

#easy_holder {
  top: 18%;
  left: 44.5%;
}

#normal_holder {
  top: 32%;
  left: 44.5%;
}

#hard_holder {
  top: 46%;
  left: 44.5%;
}

#insane_holder {
  top: 60%;
  left: 44.5%;
}

#created_by_box {
  position: absolute;
  top: 90%;
  width: 30%;
  left: 35%;
  font-size: 12pt;
  color: red;
  opacity: 1;
}

.difficulty_button_holder button {
  border: 0;
  background-color: red;
  border-radius: 20px;
  width: 110px;
  height: 30px;
  font-size: 16px;
  color: black;
}

.difficulty_button_holder button:hover {
  background-color: #FF8080;
}

#show_leaderboard_holder button {
  border: 0;
  background-color: #6FAA6F;
  border-radius: 20px;
  width: 110px;
  height: 30px;
  font-size: 16px;
  color: black;
}

#show_leaderboard_holder button:hover {
  background-color: #A3D1A3;
}

#leaderboard_welcome {
  opacity: 0;
  position: absolute;
  width: 70%;
  left: 15%;
  top: 105%;
  color: red;
  font-size: 20pt;
}

.leaderboard_val {
  position: absolute;
  width: 50%;
  left: 25%;
  color: red;
  font-size: 14pt;
}

#leader_1 {
  opacity: 0;
  top: 112%;
}

#leader_2 {
  opacity: 0;
  top: 119%;  
}

#leader_3 {
  opacity: 0;
  top: 126%;  
}

#leader_4 {
  opacity: 0;
  top: 133%;
}

#leader_5 {
  opacity: 0;
  top: 140%;
}

#leader_6 {
  opacity: 0;
  top: 147%;
}

#leader_7 {
  opacity: 0;
  top: 154%;
}

#leader_8 {
  opacity: 0;
  top: 161%;
}

#leader_9 {
  opacity: 0;
  top: 168%;
}

#leader_10 {
  opacity: 0;
  top: 175%;
}

#home_button_holder {
  position: absolute;
  opacity: 0;
  top: 183%;
  left: 44%;
}

#home_button_holder button {
  border: 0;
  background-color: #6FAA6F;
  border-radius: 20px;
  width: 130px;
  height: 30px;
  font-size: 16px;
  color: black;
}

#home_button_holder button:hover {
  background-color: #A3D1A3;
}

.intro {
  -webkit-animation-name: intro;
  -webkit-animation-duration: 4s;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes intro {

  0% {
    background-image: url('sj_pics/sj_start.jpg');
    background-repeat: none;  
  }
  20% {
    background-image: url('sj_pics/sj_mouth_open.jpg');
    background-repeat: none;  
  }
  40% {
    background-image: url('sj_pics/sj_mouth_open_eyes_red.jpg');
    background-repeat: none;  
  }
  
  60%{
    background-image: url('sj_pics/sj_zoom_1.jpg');
    background-repeat: none;  

  }

  80% {
    background-image: url('sj_pics/sj_zoom_2.jpg');
    background-repeat: none;  
  }
  
  100% {
    background-image: url('sj_pics/sj_zoom_3.jpg');
    background-repeat: none;  
  }
}

.game_end_img {
  position: absolute;
  width: 100%;
  height: auto;
  right: 100%;
  z-index: 3;  
}

#soundboard {
  position: absolute;
  width: 40%;
  height: auto;
  top: 34%;
  left: 3%;
  z-index: 4;
  opacity: 0;
}

#soundboard button {
  border: 0;
  background-color: #5C8AE6;
  border-radius: 20px;
  width: 170px;
  height: 32px;
  font-size: 14px;
  color: white;  
}

#soundboard button:hover {
  background-color: #9DB9F0;
}

#button_holder_win {
  position: absolute;
  left: 19%;
  top: 43%;
  z-index: 4;
  opacity: 0;
}

#button_holder_win_reward {
  position: absolute;
  left: 18.5%;
  top: 25%;
  z-index: 4;
  opacity: 0;  
}

.button_holder_victory button {
  border: 0;
  background-color: #9966FF;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  font-size: 14px;
  color: white;
}

.button_holder_victory button:hover {
  background-color: #C2A3FF;
}

#button_holder_reward {
  position: absolute;
  left: 16.5%;
  top: 51%;
  z-index: 4;
  opacity: 0;
}

#button_holder_reward button {
  border: 0;
  background-color: #9966FF;
  border-radius: 20px;
  width: 160px;
  height: 50px;
  font-size: 14px;
  color: white;
}

#button_holder_reward button:hover {
  background-color: #C2A3FF;
}

#button_holder_backspace {
  position: absolute;
  left: 10%;
  top: 51%;
  z-index: 4;
  opacity: 0;
}

#button_holder_backspace button {
  border: 0;
  background-color: red;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  font-size: 14px;
  color: black;
}

#button_holder_backspace button:hover {
  background-color: #FF8080;
}

#button_holder_lose {
  position: absolute;
  left: 22%;
  top: 21%;
  z-index: 4;
  opacity: 0;
}

#button_holder_lose button {
  border: 0;
  background-color: red;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  font-size: 14px;
  color: black;
}

#button_holder_lose button:hover {
  background-color: #FF8080;
}

#lightning {
  position: absolute;
  z-index: -2;
  left: 0px;
  top: 0px;
}

#text_to_type {
  text-align: justify;
  width:80%;
  display: block;
  margin: 0 auto;
  opacity: 0;
}

#sam_jack_rage {
  opacity: 0;
  font-size: 70%;
  color: #FA7202;
}

#countdown {
  font-size: 180%;
  color: yellow;
}

.output_win {
  opacity: 0;
  z-index: 4;
  position: absolute;
  left: 0%;  
  width: 45%;
  color: black;
}

#output_victory {
  top: 12%;
}

#output_line_1 {
  top: 20%;
}

#output_line_2 {
  top: 28%;
}

#output_line_3 {
  top: 36%;
}

#user_input_line {
  opacity: 0;
  z-index: 4;
  position: absolute;
  left: 0%;  
  width: 45%;
  color: #9966FF;
  top: 44%;
}

.output_lose {
  opacity: 0;
  z-index: 4;
  position: absolute;
  left: 10%;
  color: red;
}

#output_defeat {
  top: 12%;
}

#sam_face {
  opacity: 0;
  left: 25%;
}

.flames {
  position: absolute;
  opacity: 0;
  z-index: -1;
  top: 450px;
}

#flame_one {
  left: 0%;
}

#flame_two {
  left: 70%;
}

.stop_scrolling {
  height: 100%;
  overflow: hidden;
}