body {
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
  font-size: 200%;
}

.game_end_img {
  position: absolute;
  width: 100%;
  height: auto;
  right: 100%;
  z-index: 3;  
}

#soundboard {
  position: absolute;
  width: 40%;
  height: auto;
  top: 29%;
  left: 3%;
  z-index: 4;
  opacity: 0;
}

#soundboard button {
  border: 0;
  background-color: #5C8AE6;
  border-radius: 20px;
  width: 170px;
  height: 32px;
  font-size: 14px;
  color: white;  
}

#soundboard button:hover {
  background-color: #9DB9F0;
}

#button_holder_win {
  position: absolute;
  left: 15%;
  top: 35%;
  z-index: 4;
  opacity: 0;
}

#button_holder_win_reward {
  position: absolute;
  left: 18.5%;
  top: 20%;
  z-index: 4;
  opacity: 0;  
}

.button_holder_victory button {
  border: 0;
  background-color: #9966FF;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  font-size: 14px;
  color: white;
}

.button_holder_victory button:hover {
  background-color: #C2A3FF;
}

#button_holder_reward {
  position: absolute;
  left: 12.5%;
  top: 43%;
  z-index: 4;
  opacity: 0;
}

#button_holder_reward button {
  border: 0;
  background-color: #9966FF;
  border-radius: 20px;
  width: 160px;
  height: 50px;
  font-size: 14px;
  color: white;
}

#button_holder_reward button:hover {
  background-color: #C2A3FF;
}

#button_holder_lose {
  position: absolute;
  left: 22%;
  top: 21%;
  z-index: 4;
  opacity: 0;
}

#button_holder_lose button {
  border: 0;
  background-color: red;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  font-size: 14px;
  color: black;
}

#button_holder_lose button:hover {
  background-color: #FF8080;
}

#lightning {
  position: absolute;
  z-index: -2;
  left: 0px;
  top: 0px;
}

#text_to_type {
  text-align: justify;
  width:80%;
  display: block;
  margin: 0 auto;
  opacity: 0;
}

#sam_jack_rage {
  opacity: 0;
  font-size: 70%;
  color: #FA7202;
}

#countdown {
  font-size: 180%;
  color: yellow;
}

.output_win {
  opacity: 0;
  z-index: 4;
  position: absolute;
  left: 5%;  
  color: black;
}

#output_victory {
  top: 12%;
}

#output_time {
  top: 20%;
}

#output_accuracy {
  top: 28%;
}

.output_lose {
  opacity: 0;
  z-index: 4;
  position: absolute;
  left: 10%;
  color: red;
}

#output_defeat {
  top: 12%;
}

#sam_face {
  opacity: 0;
  left: 25%;
}

.flames {
  position: absolute;
  opacity: 0;
  z-index: -1;
  top: 450px;
}

#flame_one {
  left: 0%;
}

#flame_two {
  left: 70%;
}

.stop_scrolling {
  height: 100%;
  overflow: hidden;
}